name: ci

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Setting variables
      id: setvars
      run: |
        echo ::set-output name=BUILD_DATE::$(date --utc --iso-8601=seconds)
        if [[ $GITHUB_REF =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG=${GITHUB_REF/refs\/tags\//}
            echo ::set-output name=TAG::$TAG
        fi        
        echo ::set-output name=VERSION::${TAG:-dev-$(echo ${GITHUB_SHA::8})}
    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'    
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build using docker
      uses: docker/build-push-action@v2
      with:
        target: app
        push: ${{ github.event_name != 'pull_request' }}
        build-args: |
          version=${{ steps.setvars.outputs.VERSION }}
          builddate=${{ steps.setvars.outputs.BUILD_DATE }}
        tags: |
          smoretto/alps:${{ steps.setvars.outputs.VERSION }}
    - name: Set k8s context
      if: github.event_name != 'pull_request'    
      uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
    - name: Apply Kustomize
      if: github.event_name != 'pull_request'    
      id: bake
      uses: azure/k8s-bake@v1     
      with:
        renderEngine: kustomize
        kustomizationPath: ./manifests/overlays/development
    - name: Deploy
      if: github.event_name != 'pull_request'    
      uses: azure/k8s-deploy@v1.4
      with:
        namespace: alps-dev
        manifests: ${{ steps.bake.outputs.manifestsBundle }}
        images: |
          smoretto/alps:${{ steps.setvars.outputs.VERSION }}
