name: ci

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Setting variables
      id: vars
      run: |
        echo ::set-output name=builddate::$(date --utc --iso-8601=seconds)
        if [[ $GITHUB_REF =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG=${GITHUB_REF/refs\/tags\//}
            echo ::set-output name=env::production
            echo ::set-output name=envshort::prd
        else        
            echo ::set-output name=env::development
            echo ::set-output name=envshort::dev
        fi
        echo ::set-output name=version::${TAG:-dev-$(echo ${GITHUB_SHA::8})}

    - name: Login to GitHub registry
      if: github.event_name != 'pull_request'    
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build using docker
      uses: docker/build-push-action@v2
      with:
        target: app
        push: ${{ github.event_name != 'pull_request' }}
        build-args: |
          version=${{ steps.vars.outputs.version }}
          builddate=${{ steps.vars.outputs.builddate }}
        tags: |
          ghcr.io/smoretto/alps:${{ steps.vars.outputs.version }}

    - name: Set k8s context
      if: github.event_name != 'pull_request'    
      uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}

    - name: Apply kustomize on development
      if: github.event_name != 'pull_request'    
      id: bake
      uses: azure/k8s-bake@v1     
      with:
        renderEngine: kustomize
        kustomizationPath: ./manifests/overlays/${{ steps.vars.outputs.env }}
        kubectl-version: latest

    - name: Deploy ${{ steps.vars.outputs.env }}
      if: github.event_name != 'pull_request'
      uses: azure/k8s-deploy@v1.4
      with:
        namespace: alps-${{ steps.vars.outputs.envshort }}
        manifests: ${{ steps.bake.outputs.manifestsBundle }}
        images: |
          ghcr.io/smoretto/alps:${{ steps.vars.outputs.version }}
